<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>988934150489-ftljoverlj48ogd5t2iu41h736ku9pa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988934150489-ftljoverlj48ogd5t2iu41h736ku9pa9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQo8o5lrG5y7JawOR-L61EaHoZ5V7BRo</string>
	<key>GCM_SENDER_ID</key>
	<string>988934150489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackgteeny.chatapp</string>
	<key>PROJECT_ID</key>
	<string>hackgteenychatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hackgteenychatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988934150489:ios:3681edb002bca801</string>
	<key>DATABASE_URL</key>
	<string>https://hackgteenychatapp.firebaseio.com</string>
</dict>
</plist>