<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>129447511415-ltd7l9v65vbi36ea5c1ldplrvg0ga9et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129447511415-ltd7l9v65vbi36ea5c1ldplrvg0ga9et</string>
	<key>API_KEY</key>
	<string>AIzaSyBpbUdjCbyCS9YsZNrHPL0iPVKKm_sKOzU</string>
	<key>GCM_SENDER_ID</key>
	<string>129447511415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackgteeny.chat</string>
	<key>PROJECT_ID</key>
	<string>chatgt-4c9c7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgt-4c9c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:129447511415:ios:a77b2bc4aeeadf46</string>
	<key>DATABASE_URL</key>
	<string>https://chatgt-4c9c7.firebaseio.com</string>
</dict>
</plist>